In [307]:
!pip install --upgrade pip --quiet
!pip install -r requiremen-upgrade pip --quiet

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import time
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score as roc_auc_score


!pip install matplotlib --quiet
!pip freeze --quiet > ../requirements.txt

In [2]:
def load_data():
#     current_file = os.path.abspath(os.path.dirname(__file__))
    current_file = ""

    csv_filename = os.path.join(current_file, '../training_data/campaign_data.csv')
    campaign_data = pd.read_csv('../training_data/campaign_data.csv')

    csv_filename = os.path.join(current_file, '../training_data/coupon_item_mapping.csv')
    coupon_item_mapping_data = pd.read_csv(csv_filename)

    csv_filename = os.path.join(current_file, '../training_data/customer_demographics.csv')
    customer_demographics_data = pd.read_csv(csv_filename)

    csv_filename = os.path.join(current_file, '../training_data/customer_transaction_data.csv')
    customer_transaction_data = pd.read_csv(csv_filename)

    csv_filename = os.path.join(current_file, '../training_data/item_data.csv')
    item_data = pd.read_csv(csv_filename)

    csv_filename = os.path.join(current_file, '../training_data/train.csv')
    train_data = pd.read_csv(csv_filename)

    csv_filename = os.path.join(current_file, '../test_data/test_QyjYwdj.csv')
    test_data = pd.read_csv('../test_data/test_QyjYwdj.csv')
    
    return campaign_data, coupon_item_mapping_data, customer_demographics_data, \
           customer_transaction_data, item_data, train_data, test_data

In [3]:
campaign_data, coupon_item_mapping_data, customer_demographics_data, \
customer_transaction_data, item_data, train_data, test_data = load_data()

In [4]:
def univariate_analysis(df):
    print("\n Head: ")
    print(df.head())
    
    print("\n Number of NaN Entries: ")
    print(df.isna().sum())

    print("\n Number of Null Entries: ")
    print(df.isnull().sum())

    print("\n Statistical Description: ")
    print(df.describe(include='all'))
   
    for column in df.columns.values:
        print("\n\n Uniqueness analysis for column: ", column)
        unique_values = df[column].unique()
        print("\n\t\t Number of Unique values: ", len(unique_values))
        print("\n\t\t Unique values: ", unique_values)

In [5]:
# campaign_data data cleaning and imputation


print("\n -------------------------------------- campaign_data --------------------------------------- ")
campaign_data_columns =  campaign_data.columns.values
print("\n campaign_data_columns: ", campaign_data_columns)

univariate_analysis(campaign_data)

campaign_data['start_date'] = pd.to_datetime(campaign_data.start_date, format="%d/%m/%y")
campaign_data['end_date'] = pd.to_datetime(campaign_data.end_date, format="%d/%m/%y")

print(campaign_data.head())

 -------------------------------------- campaign_data ---------------------------------------

 campaign_data_columns:  ['campaign_id' 'campaign_type' 'start_date' 'end_date']

 Head:
   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

 Number of NaN Entries:
campaign_id      0
campaign_type    0
start_date       0
end_date         0
dtype: int64

 Number of Null Entries:
campaign_id      0
campaign_type    0
start_date       0
end_date         0
dtype: int64

 Statistical Description:
        campaign_id campaign_type start_date  end_date
count     28.000000            28         28        28
unique          NaN             2         25        26
top             NaN             Y   21/10/13  18/01/13
freq            NaN            22          2         2
mean      15.571429           NaN        NaN       NaN
std        9.118271           NaN        NaN       NaN
min        1.000000           NaN        NaN       NaN
25%        7.750000           NaN        NaN       NaN
50%       16.500000           NaN        NaN       NaN
75%       23.250000           NaN        NaN       NaN
max       30.000000           NaN        NaN       NaN


 Uniqueness analysis for column:  campaign_id

		 Number of Unique values:  28

		 Unique values:  [24 25 20 23 21 22 18 19 17 16 13 11 12 10  9  8  7  6  3  5  4  1  2 30
 29 28 27 26]


 Uniqueness analysis for column:  campaign_type

		 Number of Unique values:  2

		 Unique values:  ['Y' 'X']


 Uniqueness analysis for column:  start_date

		 Number of Unique values:  25

		 Unique values:  ['21/10/13' '07/09/13' '08/10/13' '16/09/13' '10/08/13' '26/08/13'
 '29/07/13' '15/07/13' '19/05/13' '22/04/13' '08/04/13' '11/03/13'
 '16/02/13' '02/02/13' '28/01/13' '22/12/12' '12/01/13' '07/01/13'
 '12/12/12' '17/12/12' '19/11/12' '08/10/12' '16/09/12' '25/08/12'
 '12/08/12']


 Uniqueness analysis for column:  end_date

		 Number of Unique values:  26

		 Unique values:  ['20/12/13' '22/11/13' '16/11/13' '15/11/13' '18/10/13' '04/10/13'
 '27/09/13' '30/08/13' '16/08/13' '05/07/13' '07/06/13' '24/05/13'
 '10/05/13' '12/04/13' '05/04/13' '08/03/13' '01/03/13' '16/02/13'
 '15/02/13' '08/02/13' '18/01/13' '04/01/13' '30/11/12' '16/11/12'
 '27/10/12' '21/09/12']
   campaign_id campaign_type start_date   end_date
0           24             Y 2013-10-21 2013-12-20
1           25             Y 2013-10-21 2013-11-22
2           20             Y 2013-09-07 2013-11-16
3           23             Y 2013-10-08 2013-11-15
4           21             Y 2013-09-16 2013-10-18

In [6]:
# coupon_item_mapping_data data cleaning and imputation

print("\n -------------------------------------- coupon_item_mapping_data --------------------------------------- ")
coupon_item_mapping_data_columns =  coupon_item_mapping_data.columns.values
print("\n coupon_item_mapping_data_columns: ", coupon_item_mapping_data_columns)

univariate_analysis(coupon_item_mapping_data)

print(coupon_item_mapping_data.head())

 -------------------------------------- coupon_item_mapping_data ---------------------------------------

 coupon_item_mapping_data_columns:  ['coupon_id' 'item_id']

 Head:
   coupon_id  item_id
0        105       37
1        107       75
2        494       76
3        522       77
4        518       77

 Number of NaN Entries:
coupon_id    0
item_id      0
dtype: int64

 Number of Null Entries:
coupon_id    0
item_id      0
dtype: int64

 Statistical Description:
          coupon_id       item_id
count  92663.000000  92663.000000
mean     155.967387  36508.613071
std      282.991720  21131.312716
min        1.000000      1.000000
25%       22.000000  18255.500000
50%       30.000000  37955.000000
75%       42.000000  54191.500000
max     1116.000000  74061.000000


 Uniqueness analysis for column:  coupon_id

		 Number of Unique values:  1116

		 Unique values:  [105 107 494 ... 217 218 219]


 Uniqueness analysis for column:  item_id

		 Number of Unique values:  36289

		 Unique values:  [   37    75    76 ... 71965 67815 68920]
   coupon_id  item_id
0        105       37
1        107       75
2        494       76
3        522       77
4        518       77

In [7]:
# customer_transaction_data data cleaning and imputation

print("\n -------------------------------------- customer_transaction_data --------------------------------------- ")
customer_transaction_data_columns =  customer_transaction_data.columns.values
print("\n customer_transaction_data_columns: ", customer_transaction_data_columns)
univariate_analysis(customer_transaction_data)

customer_transaction_data['date'] = pd.to_datetime(customer_transaction_data.date, format="%Y/%m/%d")

print(customer_transaction_data.head())

 -------------------------------------- customer_transaction_data ---------------------------------------

 customer_transaction_data_columns:  ['date' 'customer_id' 'item_id' 'quantity' 'selling_price'
 'other_discount' 'coupon_discount']

 Head:
         date  customer_id  item_id  quantity  selling_price  other_discount  \
0  2012-01-02         1501    26830         1          35.26          -10.69
1  2012-01-02         1501    54253         1          53.43          -13.89
2  2012-01-02         1501    31962         1         106.50          -14.25
3  2012-01-02         1501    33647         1          67.32            0.00
4  2012-01-02         1501    48199         1          71.24          -28.14

   coupon_discount
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

 Number of NaN Entries:
date               0
customer_id        0
item_id            0
quantity           0
selling_price      0
other_discount     0
coupon_discount    0
dtype: int64

 Number of Null Entries:
date               0
customer_id        0
item_id            0
quantity           0
selling_price      0
other_discount     0
coupon_discount    0
dtype: int64

 Statistical Description:
              date   customer_id       item_id      quantity  selling_price  \
count      1324566  1.324566e+06  1.324566e+06  1.324566e+06   1.324566e+06
unique         549           NaN           NaN           NaN            NaN
top     2012-09-03           NaN           NaN           NaN            NaN
freq          4753           NaN           NaN           NaN            NaN
mean           NaN  8.040020e+02  2.951903e+04  1.306633e+02   1.146036e+02
std            NaN  4.573363e+02  1.790806e+04  1.311545e+03   1.529053e+02
min            NaN  1.000000e+00  1.000000e+00  1.000000e+00   3.600000e-01
25%            NaN  4.180000e+02  1.468400e+04  1.000000e+00   4.916000e+01
50%            NaN  8.010000e+02  2.659700e+04  1.000000e+00   7.801000e+01
75%            NaN  1.198000e+03  4.240575e+04  1.000000e+00   1.243100e+02
max            NaN  1.582000e+03  7.406600e+04  8.963800e+04   1.780964e+04

        other_discount  coupon_discount
count     1.324566e+06     1.324566e+06
unique             NaN              NaN
top                NaN              NaN
freq               NaN              NaN
mean     -1.776871e+01    -5.948983e-01
std       3.788867e+01     7.069367e+00
min      -3.120310e+03    -1.992230e+03
25%      -2.315000e+01     0.000000e+00
50%      -1.780000e+00     0.000000e+00
75%       0.000000e+00     0.000000e+00
max       0.000000e+00     0.000000e+00


 Uniqueness analysis for column:  date

		 Number of Unique values:  549

		 Unique values:  ['2012-01-02' '2012-01-03' '2012-01-04' '2012-01-05' '2012-01-06'
 '2012-01-07' '2012-01-08' '2012-01-09' '2012-01-10' '2012-01-11'
 '2012-01-12' '2012-01-13' '2012-01-14' '2012-01-15' '2012-01-16'
 '2012-01-17' '2012-01-18' '2012-01-19' '2012-01-20' '2012-01-21'
 '2012-01-22' '2012-01-23' '2012-01-24' '2012-01-25' '2012-01-26'
 '2012-01-27' '2012-01-28' '2012-01-29' '2012-01-30' '2012-01-31'
 '2012-02-01' '2012-02-02' '2012-02-03' '2012-02-04' '2012-02-05'
 '2012-02-06' '2012-02-07' '2012-02-08' '2012-02-09' '2012-02-10'
 '2012-02-11' '2012-02-12' '2012-02-13' '2012-02-14' '2012-02-15'
 '2012-02-16' '2012-02-17' '2012-02-18' '2012-02-19' '2012-02-20'
 '2012-02-21' '2012-02-22' '2012-02-23' '2012-02-24' '2012-02-25'
 '2012-02-26' '2012-02-27' '2012-02-28' '2012-02-29' '2012-03-01'
 '2012-03-02' '2012-03-03' '2012-03-04' '2012-03-05' '2012-03-06'
 '2012-03-07' '2012-03-08' '2012-03-09' '2012-03-10' '2012-03-11'
 '2012-03-12' '2012-03-13' '2012-03-14' '2012-03-15' '2012-03-16'
 '2012-03-17' '2012-03-18' '2012-03-19' '2012-03-20' '2012-03-21'
 '2012-03-22' '2012-03-23' '2012-03-24' '2012-03-25' '2012-03-26'
 '2012-03-27' '2012-03-28' '2012-03-29' '2012-03-30' '2012-03-31'
 '2012-04-01' '2012-04-02' '2012-04-03' '2012-04-04' '2012-04-05'
 '2012-04-06' '2012-04-07' '2012-04-08' '2012-04-09' '2012-04-10'
 '2012-04-11' '2012-04-12' '2012-04-13' '2012-04-14' '2012-04-15'
 '2012-04-16' '2012-04-17' '2012-04-18' '2012-04-19' '2012-04-20'
 '2012-04-21' '2012-04-22' '2012-04-23' '2012-04-24' '2012-04-25'
 '2012-04-26' '2012-04-27' '2012-04-28' '2012-04-29' '2012-04-30'
 '2012-05-01' '2012-05-02' '2012-05-03' '2012-05-04' '2012-05-05'
 '2012-05-06' '2012-05-07' '2012-05-08' '2012-05-09' '2012-05-10'
 '2012-05-11' '2012-05-12' '2012-05-13' '2012-05-14' '2012-05-15'
 '2012-05-16' '2012-05-17' '2012-05-18' '2012-05-19' '2012-05-20'
 '2012-05-21' '2012-05-22' '2012-05-23' '2012-05-24' '2012-05-25'
 '2012-05-26' '2012-05-27' '2012-05-28' '2012-05-29' '2012-05-30'
 '2012-05-31' '2012-06-01' '2012-06-02' '2012-06-03' '2012-06-04'
 '2012-06-05' '2012-06-06' '2012-06-07' '2012-06-08' '2012-06-09'
 '2012-06-10' '2012-06-11' '2012-06-12' '2012-06-13' '2012-06-14'
 '2012-06-15' '2012-06-16' '2012-06-17' '2012-06-18' '2012-06-19'
 '2012-06-20' '2012-06-21' '2012-06-22' '2012-06-23' '2012-06-24'
 '2012-06-25' '2012-06-26' '2012-06-27' '2012-06-28' '2012-06-29'
 '2012-06-30' '2012-07-01' '2012-07-02' '2012-07-03' '2012-07-04'
 '2012-07-05' '2012-07-06' '2012-07-07' '2012-07-08' '2012-07-09'
 '2012-07-10' '2012-07-11' '2012-07-12' '2012-07-13' '2012-07-14'
 '2012-07-15' '2012-07-16' '2012-07-17' '2012-07-18' '2012-07-19'
 '2012-07-20' '2012-07-22' '2012-07-21' '2012-07-23' '2012-07-24'
 '2012-07-25' '2012-07-26' '2012-07-27' '2012-07-28' '2012-07-29'
 '2012-07-30' '2012-07-31' '2012-08-01' '2012-08-02' '2012-08-03'
 '2012-08-04' '2012-08-05' '2012-08-06' '2012-08-07' '2012-08-08'
 '2012-08-09' '2012-08-10' '2012-08-11' '2012-08-12' '2012-08-13'
 '2012-08-14' '2012-08-15' '2012-08-16' '2012-08-27' '2012-08-26'
 '2012-08-28' '2012-08-17' '2012-08-18' '2012-08-20' '2012-08-19'
 '2012-08-21' '2012-08-22' '2012-08-23' '2012-08-24' '2012-08-25'
 '2012-08-29' '2012-08-30' '2012-08-31' '2012-09-01' '2012-09-02'
 '2012-09-03' '2012-09-04' '2012-09-05' '2012-09-06' '2012-09-07'
 '2012-09-08' '2012-09-09' '2012-09-10' '2012-09-11' '2012-09-12'
 '2012-09-13' '2012-09-14' '2012-09-15' '2012-09-16' '2012-09-17'
 '2012-09-18' '2012-09-19' '2012-09-20' '2012-09-21' '2012-09-22'
 '2012-09-23' '2012-09-24' '2012-09-25' '2012-09-26' '2012-09-27'
 '2012-09-28' '2012-09-29' '2012-09-30' '2012-10-01' '2012-10-02'
 '2012-10-03' '2012-10-04' '2012-10-05' '2012-10-06' '2012-10-07'
 '2012-10-08' '2012-10-09' '2012-10-10' '2012-10-11' '2012-10-12'
 '2012-10-13' '2012-10-14' '2012-10-15' '2012-10-16' '2012-10-17'
 '2012-10-18' '2012-10-19' '2012-10-20' '2012-10-21' '2012-10-22'
 '2012-10-23' '2012-10-24' '2012-10-25' '2012-10-26' '2012-10-27'
 '2012-10-28' '2012-10-29' '2012-10-30' '2012-11-01' '2012-10-31'
 '2012-11-02' '2012-11-03' '2012-11-04' '2012-11-05' '2012-11-06'
 '2012-11-07' '2012-11-08' '2012-11-09' '2012-11-10' '2012-11-11'
 '2012-11-12' '2012-11-13' '2012-11-14' '2012-11-15' '2012-11-16'
 '2012-11-17' '2012-11-18' '2012-11-19' '2012-11-20' '2012-11-21'
 '2012-11-22' '2012-11-23' '2012-11-24' '2012-11-25' '2012-11-26'
 '2012-11-27' '2012-11-28' '2012-11-29' '2012-11-30' '2012-12-01'
 '2012-12-02' '2012-12-03' '2012-12-04' '2012-12-05' '2012-12-06'
 '2012-12-07' '2012-12-08' '2012-12-09' '2012-12-10' '2012-12-11'
 '2012-12-12' '2012-12-13' '2012-12-14' '2012-12-15' '2012-12-16'
 '2012-12-17' '2012-12-18' '2012-12-19' '2012-12-20' '2012-12-21'
 '2012-12-22' '2012-12-23' '2012-12-24' '2012-12-25' '2012-12-26'
 '2012-12-27' '2012-12-28' '2012-12-29' '2012-12-30' '2012-12-31'
 '2013-01-01' '2013-01-02' '2013-01-03' '2013-01-04' '2013-01-05'
 '2013-01-06' '2013-01-07' '2013-01-08' '2013-01-09' '2013-01-10'
 '2013-01-11' '2013-01-12' '2013-01-13' '2013-01-14' '2013-01-15'
 '2013-01-16' '2013-01-17' '2013-01-18' '2013-01-19' '2013-01-20'
 '2013-01-21' '2013-01-22' '2013-01-23' '2013-01-24' '2013-01-25'
 '2013-01-26' '2013-01-27' '2013-01-28' '2013-01-29' '2013-01-30'
 '2013-01-31' '2013-02-01' '2013-02-02' '2013-02-03' '2013-02-04'
 '2013-02-05' '2013-02-06' '2013-02-07' '2013-02-08' '2013-02-09'
 '2013-02-10' '2013-02-11' '2013-02-12' '2013-02-13' '2013-02-14'
 '2013-02-15' '2013-02-16' '2013-02-17' '2013-02-18' '2013-02-19'
 '2013-02-20' '2013-02-21' '2013-02-22' '2013-02-23' '2013-02-24'
 '2013-02-25' '2013-02-26' '2013-02-27' '2013-02-28' '2013-03-01'
 '2013-03-02' '2013-03-03' '2013-03-04' '2013-03-05' '2013-03-06'
 '2013-03-07' '2013-03-08' '2013-03-09' '2013-03-10' '2013-03-11'
 '2013-03-12' '2013-03-13' '2013-03-14' '2013-03-15' '2013-03-16'
 '2013-03-17' '2013-03-18' '2013-03-19' '2013-03-20' '2013-03-21'
 '2013-03-22' '2013-03-25' '2013-03-29' '2013-03-23' '2013-03-24'
 '2013-03-26' '2013-03-27' '2013-03-28' '2013-03-30' '2013-03-31'
 '2013-04-02' '2013-04-03' '2013-04-01' '2013-04-04' '2013-04-05'
 '2013-04-06' '2013-04-07' '2013-04-08' '2013-04-09' '2013-04-10'
 '2013-04-11' '2013-04-12' '2013-04-13' '2013-04-14' '2013-04-15'
 '2013-04-16' '2013-04-17' '2013-04-18' '2013-04-19' '2013-04-20'
 '2013-04-21' '2013-04-22' '2013-04-23' '2013-04-24' '2013-04-25'
 '2013-04-26' '2013-04-27' '2013-04-28' '2013-04-29' '2013-04-30'
 '2013-05-01' '2013-05-02' '2013-05-03' '2013-05-04' '2013-05-05'
 '2013-05-06' '2013-05-07' '2013-05-08' '2013-05-09' '2013-05-10'
 '2013-05-11' '2013-05-12' '2013-05-13' '2013-05-14' '2013-05-15'
 '2013-05-16' '2013-05-17' '2013-05-18' '2013-05-19' '2013-05-20'
 '2013-05-21' '2013-05-22' '2013-05-23' '2013-05-24' '2013-05-25'
 '2013-05-26' '2013-05-27' '2013-05-28' '2013-05-29' '2013-05-30'
 '2013-05-31' '2013-06-01' '2013-06-02' '2013-06-03' '2013-06-04'
 '2013-06-05' '2013-06-06' '2013-06-07' '2013-06-08' '2013-06-09'
 '2013-06-10' '2013-06-11' '2013-06-12' '2013-06-13' '2013-06-14'
 '2013-06-15' '2013-06-16' '2013-06-17' '2013-06-18' '2013-06-19'
 '2013-06-20' '2013-06-21' '2013-06-22' '2013-06-23' '2013-06-24'
 '2013-06-25' '2013-06-26' '2013-06-27' '2013-06-28' '2013-06-29'
 '2013-06-30' '2013-07-01' '2013-07-02' '2013-07-03']


 Uniqueness analysis for column:  customer_id

		 Number of Unique values:  1582

		 Unique values:  [1501  857   67 ...  405 1569  991]


 Uniqueness analysis for column:  item_id

		 Number of Unique values:  74063

		 Unique values:  [26830 54253 31962 ...  2777  2953  2971]


 Uniqueness analysis for column:  quantity

		 Number of Unique values:  9252

		 Unique values:  [    1     3     2 ... 15853 21837 19364]


 Uniqueness analysis for column:  selling_price

		 Number of Unique values:  4923

		 Unique values:  [  35.26   53.43  106.5  ... 1170.12 1338.6  1623.92]


 Uniqueness analysis for column:  other_discount

		 Number of Unique values:  1418

		 Unique values:  [  -10.69   -13.89   -14.25 ...  -720.95 -1141.98  -323.07]


 Uniqueness analysis for column:  coupon_discount

		 Number of Unique values:  232

		 Unique values:  [    0.     -35.62   -14.25   -26.71   -21.02   -19.59   -80.14   -17.81
    -8.9   -102.94   -71.24   -21.37   -10.69   -12.47  -178.1   -106.86
   -53.43   -35.26   -12.11  -213.72   -56.64   -28.14   -44.52  -569.92
   -53.07   -62.33   -49.87   -37.4    -24.93   -32.06  -213.36  -355.84
  -142.12   -17.45   -39.18   -40.96  -142.48  -109.71    -7.12   -88.69
  -427.44   -45.95   -89.05   -16.03  -113.63  -106.5    -70.53   -31.35
   -58.77  -117.55   -60.2    -78.36  -128.23   -23.51   -79.79   -28.5
   -92.26  -177.74   -47.73  -554.96   -27.07    -5.34  -498.32   -90.83
  -108.64   -95.11  -319.87   -30.28  -284.6    -70.88  -124.67  -152.81
   -60.55  -356.2    -91.9   -512.57  -113.27  -184.16  -117.19  -160.29
  -184.87  -249.34   -55.21   -95.82   -42.74  -195.55   -97.96   -94.39
   -23.15   -27.78  -110.42   -42.39  -127.88   -30.63  -277.48   -69.1
   -78.01  -199.12  -248.98   -23.87   -43.46   -89.41   -64.12  -211.23
   -38.47   -41.32  -169.91  -111.85   -48.09   -82.64  -284.96  -177.39
  -134.64   -47.37   -46.31 -1068.24   -63.76  -320.22  -103.3    -49.51
  -120.75   -67.32   -59.49  -334.12   -38.83  -234.38  -509.01   -42.03
  -641.16  -712.4   -102.59  -266.79  -135.    -124.31  -426.73  -227.26
   -47.02  -115.76   -83.35  -534.3    -81.57  -519.34  -101.16   -24.58
  -118.97   -84.78   -99.74   -99.38  -712.04  -154.59  -120.4    -82.99
  -237.23   -74.45   -80.5   -163.14  -131.44  -176.32   -84.42  -142.84
  -159.93  -133.57   -85.13  -284.25  -167.06   -99.02   -85.49 -1992.23
  -213.01   -72.31   -52.36  -191.64   -26.36   -89.76  -427.08  -106.15
   -65.54  -533.59  -604.83  -163.5   -245.07  -202.68   -33.84  -509.37
  -208.38  -354.42  -283.54  -141.77   -95.46   -39.89  -170.62  -462.7
   -65.9   -137.14   -11.75   -66.97  -126.09   -63.05   -56.28  -149.25
  -391.46  -259.67  -215.5   -235.09  -122.89   -43.1   -195.91    -3.56
  -238.3   -191.99   -62.69 -1211.08  -267.15   -44.88  -298.85   -70.17
  -320.58  -219.42   -13.89   -24.22  -366.53  -236.87  -747.66  -125.38
  -102.23  -179.52  -136.78  -206.6   -105.79  -112.92   -96.17   -31.7 ]

        date  customer_id  item_id  quantity  selling_price  other_discount  \
0 2012-01-02         1501    26830         1          35.26          -10.69
1 2012-01-02         1501    54253         1          53.43          -13.89
2 2012-01-02         1501    31962         1         106.50          -14.25
3 2012-01-02         1501    33647         1          67.32            0.00
4 2012-01-02         1501    48199         1          71.24          -28.14

   coupon_discount
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

In [8]:
# item_data data cleaning and imputation

print("\n -------------------------------------- item_data --------------------------------------- ")
item_data_columns =  item_data.columns.values
print("\n item_data_columns: ", item_data_columns)
univariate_analysis(item_data)


print(item_data.head())

 -------------------------------------- item_data ---------------------------------------

 item_data_columns:  ['item_id' 'brand' 'brand_type' 'category']

 Head:
   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

 Number of NaN Entries:
item_id       0
brand         0
brand_type    0
category      0
dtype: int64

 Number of Null Entries:
item_id       0
brand         0
brand_type    0
category      0
dtype: int64

 Statistical Description:
             item_id         brand   brand_type category
count   74066.000000  74066.000000        74066    74066
unique           NaN           NaN            2       19
top              NaN           NaN  Established  Grocery
freq             NaN           NaN        62842    32448
mean    37033.500000   1485.560055          NaN      NaN
std     21381.156856   1537.385673          NaN      NaN
min         1.000000      1.000000          NaN      NaN
25%     18517.250000    278.000000          NaN      NaN
50%     37033.500000    978.000000          NaN      NaN
75%     55549.750000   2013.000000          NaN      NaN
max     74066.000000   5528.000000          NaN      NaN


 Uniqueness analysis for column:  item_id

		 Number of Unique values:  74066

		 Unique values:  [    1     2     3 ... 74064 74065 74066]


 Uniqueness analysis for column:  brand

		 Number of Unique values:  5528

		 Unique values:  [   1   56   11 ... 5463 2997 3360]


 Uniqueness analysis for column:  brand_type

		 Number of Unique values:  2

		 Unique values:  ['Established' 'Local']


 Uniqueness analysis for column:  category

		 Number of Unique values:  19

		 Unique values:  ['Grocery' 'Miscellaneous' 'Bakery' 'Pharmaceutical' 'Packaged Meat'
 'Seafood' 'Natural Products' 'Dairy, Juices & Snacks' 'Prepared Food'
 'Skin & Hair Care' 'Meat' 'Travel' 'Flowers & Plants' 'Fuel' 'Salads'
 'Alcohol' 'Garden' 'Restauarant' 'Vegetables (cut)']
   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [148]:
# customer_demographics_data data cleaning and imputation
current_file = ""
csv_filename = os.path.join(current_file, '../training_data/customer_demographics.csv')
customer_demographics_data = pd.read_csv(csv_filename)

print("\n -------------------------------------- customer_demographics_data --------------------------------------- ")
customer_demographics_data_columns =  customer_demographics_data.columns.values
print("\n customer_demographics_data_columns: ", customer_demographics_data_columns)
univariate_analysis(customer_demographics_data)

 -------------------------------------- customer_demographics_data ---------------------------------------

 customer_demographics_data_columns:  ['customer_id' 'age_range' 'marital_status' 'rented' 'family_size'
 'no_of_children' 'income_bracket']

 Head:
   customer_id age_range marital_status  rented family_size no_of_children  \
0            1       70+        Married       0           2            NaN
1            6     46-55        Married       0           2            NaN
2            7     26-35            NaN       0           3              1
3            8     26-35            NaN       0           4              2
4           10     46-55         Single       0           1            NaN

   income_bracket
0               4
1               5
2               3
3               6
4               5

 Number of NaN Entries:
customer_id         0
age_range           0
marital_status    329
rented              0
family_size         0
no_of_children    538
income_bracket      0
dtype: int64

 Number of Null Entries:
customer_id         0
age_range           0
marital_status    329
rented              0
family_size         0
no_of_children    538
income_bracket      0
dtype: int64

 Statistical Description:
        customer_id age_range marital_status      rented family_size  \
count    760.000000       760            431  760.000000         760
unique          NaN         6              2         NaN           5
top             NaN     46-55        Married         NaN           2
freq            NaN       271            317         NaN         303
mean     779.201316       NaN            NaN    0.053947         NaN
std      459.754429       NaN            NaN    0.226063         NaN
min        1.000000       NaN            NaN    0.000000         NaN
25%      382.750000       NaN            NaN    0.000000         NaN
50%      774.500000       NaN            NaN    0.000000         NaN
75%     1187.250000       NaN            NaN    0.000000         NaN
max     1581.000000       NaN            NaN    1.000000         NaN

       no_of_children  income_bracket
count             222      760.000000
unique              3             NaN
top                 1             NaN
freq              107             NaN
mean              NaN        4.715789
std               NaN        2.258817
min               NaN        1.000000
25%               NaN        3.000000
50%               NaN        5.000000
75%               NaN        6.000000
max               NaN       12.000000


 Uniqueness analysis for column:  customer_id

		 Number of Unique values:  760

		 Unique values:  [   1    6    7    8   10   11   12   13   14   15   17   19   22   27
   28   30   31   33   35   36   38   39   40   41   42   45   48   51
   52   53   55   58   59   66   67   69   71   72   74   75   78   79
   82   83   84   85   87   89   90   92   93   94   97  103  105  107
  108  110  112  113  114  119  123  124  128  131  132  134  135  136
  138  140  141  142  143  144  149  150  151  153  154  155  158  159
  161  162  163  167  168  174  178  179  180  185  186  189  191  192
  193  195  197  201  202  204  205  207  209  212  214  223  225  226
  227  228  230  231  232  235  238  239  242  243  245  246  248  249
  250  251  252  253  259  262  265  266  267  268  269  271  276  277
  279  281  283  284  286  287  288  292  293  294  295  297  298  300
  303  306  313  314  315  316  317  318  319  320  327  329  333  336
  338  339  343  347  348  349  352  353  355  357  361  363  367  368
  369  371  374  375  377  378  381  382  383  384  386  389  390  391
  392  393  395  397  398  399  400  401  402  414  416  421  422  427
  428  429  431  434  436  438  440  441  443  444  446  447  450  455
  456  457  460  461  462  463  464  466  467  473  474  475  479  480
  481  486  488  490  494  495  497  498  499  501  504  506  507  508
  509  510  511  514  515  516  517  520  522  524  525  527  528  530
  533  536  537  540  541  544  545  546  549  550  551  552  553  557
  558  560  561  564  565  566  569  571  572  574  575  577  579  581
  585  586  590  593  595  596  600  602  606  607  608  612  613  615
  619  620  622  624  626  627  628  630  634  636  637  641  642  643
  648  649  650  653  655  656  657  660  663  665  666  667  668  674
  677  679  681  684  686  687  691  693  695  696  698  703  704  708
  712  716  719  724  725  726  731  732  735  737  738  740  742  743
  744  745  746  748  749  750  751  752  753  754  755  760  762  763
  766  774  775  776  779  781  782  784  785  789  792  793  795  796
  797  799  800  801  802  806  808  813  817  821  822  823  824  828
  829  833  835  837  839  842  844  851  853  855  856  857  859  860
  861  864  865  867  871  872  874  876  877  878  879  880  886  888
  889  891  892  894  896  897  898  901  902  904  905  909  910  911
  912  917  918  921  922  923  925  926  928  929  930  931  932  933
  936  937  939  941  944  947  952  955  957  958  959  962  964  965
  966  967  970  974  977  978  980  981  982  983  985  988  990  994
  997  999 1003 1008 1011 1015 1021 1023 1025 1026 1031 1033 1036 1045
 1046 1047 1051 1053 1054 1055 1056 1057 1058 1061 1062 1063 1064 1067
 1068 1070 1076 1079 1082 1083 1085 1089 1091 1093 1094 1103 1104 1108
 1109 1111 1115 1116 1117 1119 1120 1121 1122 1128 1129 1130 1131 1133
 1135 1136 1141 1142 1144 1145 1151 1152 1153 1154 1156 1161 1164 1166
 1167 1168 1170 1172 1178 1179 1181 1182 1184 1187 1188 1190 1192 1194
 1195 1196 1198 1201 1202 1203 1205 1208 1210 1211 1216 1217 1219 1220
 1222 1224 1228 1230 1231 1239 1240 1242 1243 1245 1246 1249 1250 1252
 1254 1256 1257 1258 1259 1262 1263 1264 1268 1269 1271 1273 1276 1284
 1290 1292 1295 1296 1298 1299 1300 1303 1304 1305 1309 1314 1316 1317
 1318 1319 1320 1321 1322 1324 1327 1328 1329 1332 1333 1334 1336 1337
 1339 1340 1341 1343 1344 1346 1347 1356 1357 1359 1360 1361 1364 1367
 1370 1373 1374 1375 1376 1377 1378 1379 1381 1382 1383 1384 1385 1386
 1387 1388 1392 1393 1398 1399 1402 1407 1408 1409 1410 1412 1417 1422
 1424 1425 1427 1431 1432 1433 1440 1441 1443 1444 1449 1450 1451 1452
 1453 1455 1457 1458 1460 1461 1463 1464 1466 1467 1469 1471 1472 1473
 1475 1477 1478 1479 1483 1485 1489 1490 1491 1492 1494 1496 1500 1502
 1504 1506 1512 1514 1518 1519 1520 1521 1523 1528 1529 1533 1534 1537
 1538 1544 1545 1546 1547 1551 1552 1558 1566 1569 1572 1573 1574 1577
 1578 1579 1580 1581]


 Uniqueness analysis for column:  age_range

		 Number of Unique values:  6

		 Unique values:  ['70+' '46-55' '26-35' '36-45' '18-25' '56-70']


 Uniqueness analysis for column:  marital_status

		 Number of Unique values:  3

		 Unique values:  ['Married' nan 'Single']


 Uniqueness analysis for column:  rented

		 Number of Unique values:  2

		 Unique values:  [0 1]


 Uniqueness analysis for column:  family_size

		 Number of Unique values:  5

		 Unique values:  ['2' '3' '4' '1' '5+']


 Uniqueness analysis for column:  no_of_children

		 Number of Unique values:  4

		 Unique values:  [nan '1' '2' '3+']


 Uniqueness analysis for column:  income_bracket

		 Number of Unique values:  12

		 Unique values:  [ 4  5  3  6  1  7  2  8  9 12 10 11]

In [149]:
customer_demographics_data.loc[(customer_demographics_data.family_size=='5+'), "family_size"] = '5'
customer_demographics_data.family_size = pd.to_numeric(customer_demographics_data.family_size)


customer_demographics_data.loc[ customer_demographics_data.no_of_children == '3+', "no_of_children" ] = 3
customer_demographics_data.no_of_children = pd.to_numeric(customer_demographics_data.no_of_children)


customer_demographics_data.loc[customer_demographics_data.age_range=='18-25', "age_range"] = 21.5
customer_demographics_data.loc[customer_demographics_data.age_range=='26-35', "age_range"] = 30.5
customer_demographics_data.loc[customer_demographics_data.age_range=='36-45', "age_range"] = 40.5
customer_demographics_data.loc[customer_demographics_data.age_range=='46-55', "age_range"] = 50.5
customer_demographics_data.loc[customer_demographics_data.age_range=='56-70', "age_range"] = 63
customer_demographics_data.loc[customer_demographics_data.age_range=='70+', "age_range"] = 75
customer_demographics_data.age_range = pd.to_numeric(customer_demographics_data.age_range)

In [150]:
univariate_analysis(customer_demographics_data)

 Head:
   customer_id  age_range marital_status  rented  family_size  no_of_children  \
0            1       75.0        Married       0            2             NaN
1            6       50.5        Married       0            2             NaN
2            7       30.5            NaN       0            3             1.0
3            8       30.5            NaN       0            4             2.0
4           10       50.5         Single       0            1             NaN

   income_bracket
0               4
1               5
2               3
3               6
4               5

 Number of NaN Entries:
customer_id         0
age_range           0
marital_status    329
rented              0
family_size         0
no_of_children    538
income_bracket      0
dtype: int64

 Number of Null Entries:
customer_id         0
age_range           0
marital_status    329
rented              0
family_size         0
no_of_children    538
income_bracket      0
dtype: int64

 Statistical Description:
        customer_id   age_range marital_status      rented  family_size  \
count    760.000000  760.000000            431  760.000000   760.000000
unique          NaN         NaN              2         NaN          NaN
top             NaN         NaN        Married         NaN          NaN
freq            NaN         NaN            317         NaN          NaN
mean     779.201316   46.063816            NaN    0.053947     2.161842
std      459.754429   13.756022            NaN    0.226063     1.168929
min        1.000000   21.500000            NaN    0.000000     1.000000
25%      382.750000   40.500000            NaN    0.000000     1.000000
50%      774.500000   50.500000            NaN    0.000000     2.000000
75%     1187.250000   50.500000            NaN    0.000000     3.000000
max     1581.000000   75.000000            NaN    1.000000     5.000000

        no_of_children  income_bracket
count       222.000000      760.000000
unique             NaN             NaN
top                NaN             NaN
freq               NaN             NaN
mean          1.788288        4.715789
std           0.842990        2.258817
min           1.000000        1.000000
25%           1.000000        3.000000
50%           2.000000        5.000000
75%           3.000000        6.000000
max           3.000000       12.000000


 Uniqueness analysis for column:  customer_id

		 Number of Unique values:  760

		 Unique values:  [   1    6    7    8   10   11   12   13   14   15   17   19   22   27
   28   30   31   33   35   36   38   39   40   41   42   45   48   51
   52   53   55   58   59   66   67   69   71   72   74   75   78   79
   82   83   84   85   87   89   90   92   93   94   97  103  105  107
  108  110  112  113  114  119  123  124  128  131  132  134  135  136
  138  140  141  142  143  144  149  150  151  153  154  155  158  159
  161  162  163  167  168  174  178  179  180  185  186  189  191  192
  193  195  197  201  202  204  205  207  209  212  214  223  225  226
  227  228  230  231  232  235  238  239  242  243  245  246  248  249
  250  251  252  253  259  262  265  266  267  268  269  271  276  277
  279  281  283  284  286  287  288  292  293  294  295  297  298  300
  303  306  313  314  315  316  317  318  319  320  327  329  333  336
  338  339  343  347  348  349  352  353  355  357  361  363  367  368
  369  371  374  375  377  378  381  382  383  384  386  389  390  391
  392  393  395  397  398  399  400  401  402  414  416  421  422  427
  428  429  431  434  436  438  440  441  443  444  446  447  450  455
  456  457  460  461  462  463  464  466  467  473  474  475  479  480
  481  486  488  490  494  495  497  498  499  501  504  506  507  508
  509  510  511  514  515  516  517  520  522  524  525  527  528  530
  533  536  537  540  541  544  545  546  549  550  551  552  553  557
  558  560  561  564  565  566  569  571  572  574  575  577  579  581
  585  586  590  593  595  596  600  602  606  607  608  612  613  615
  619  620  622  624  626  627  628  630  634  636  637  641  642  643
  648  649  650  653  655  656  657  660  663  665  666  667  668  674
  677  679  681  684  686  687  691  693  695  696  698  703  704  708
  712  716  719  724  725  726  731  732  735  737  738  740  742  743
  744  745  746  748  749  750  751  752  753  754  755  760  762  763
  766  774  775  776  779  781  782  784  785  789  792  793  795  796
  797  799  800  801  802  806  808  813  817  821  822  823  824  828
  829  833  835  837  839  842  844  851  853  855  856  857  859  860
  861  864  865  867  871  872  874  876  877  878  879  880  886  888
  889  891  892  894  896  897  898  901  902  904  905  909  910  911
  912  917  918  921  922  923  925  926  928  929  930  931  932  933
  936  937  939  941  944  947  952  955  957  958  959  962  964  965
  966  967  970  974  977  978  980  981  982  983  985  988  990  994
  997  999 1003 1008 1011 1015 1021 1023 1025 1026 1031 1033 1036 1045
 1046 1047 1051 1053 1054 1055 1056 1057 1058 1061 1062 1063 1064 1067
 1068 1070 1076 1079 1082 1083 1085 1089 1091 1093 1094 1103 1104 1108
 1109 1111 1115 1116 1117 1119 1120 1121 1122 1128 1129 1130 1131 1133
 1135 1136 1141 1142 1144 1145 1151 1152 1153 1154 1156 1161 1164 1166
 1167 1168 1170 1172 1178 1179 1181 1182 1184 1187 1188 1190 1192 1194
 1195 1196 1198 1201 1202 1203 1205 1208 1210 1211 1216 1217 1219 1220
 1222 1224 1228 1230 1231 1239 1240 1242 1243 1245 1246 1249 1250 1252
 1254 1256 1257 1258 1259 1262 1263 1264 1268 1269 1271 1273 1276 1284
 1290 1292 1295 1296 1298 1299 1300 1303 1304 1305 1309 1314 1316 1317
 1318 1319 1320 1321 1322 1324 1327 1328 1329 1332 1333 1334 1336 1337
 1339 1340 1341 1343 1344 1346 1347 1356 1357 1359 1360 1361 1364 1367
 1370 1373 1374 1375 1376 1377 1378 1379 1381 1382 1383 1384 1385 1386
 1387 1388 1392 1393 1398 1399 1402 1407 1408 1409 1410 1412 1417 1422
 1424 1425 1427 1431 1432 1433 1440 1441 1443 1444 1449 1450 1451 1452
 1453 1455 1457 1458 1460 1461 1463 1464 1466 1467 1469 1471 1472 1473
 1475 1477 1478 1479 1483 1485 1489 1490 1491 1492 1494 1496 1500 1502
 1504 1506 1512 1514 1518 1519 1520 1521 1523 1528 1529 1533 1534 1537
 1538 1544 1545 1546 1547 1551 1552 1558 1566 1569 1572 1573 1574 1577
 1578 1579 1580 1581]


 Uniqueness analysis for column:  age_range

		 Number of Unique values:  6

		 Unique values:  [75.  50.5 30.5 40.5 21.5 63. ]


 Uniqueness analysis for column:  marital_status

		 Number of Unique values:  3

		 Unique values:  ['Married' nan 'Single']


 Uniqueness analysis for column:  rented

		 Number of Unique values:  2

		 Unique values:  [0 1]


 Uniqueness analysis for column:  family_size

		 Number of Unique values:  5

		 Unique values:  [2 3 4 1 5]


 Uniqueness analysis for column:  no_of_children

		 Number of Unique values:  4

		 Unique values:  [nan  1.  2.  3.]


 Uniqueness analysis for column:  income_bracket

		 Number of Unique values:  12

		 Unique values:  [ 4  5  3  6  1  7  2  8  9 12 10 11]

In [151]:
customer_demographics_data.loc[ (customer_demographics_data.no_of_children.isnull()) \
                                    & (customer_demographics_data.family_size==1), "no_of_children"] = 0

customer_demographics_data.loc[ (customer_demographics_data.marital_status.isnull()) \
                                    & (customer_demographics_data.family_size==1), "marital_status"] = 'Single'

customer_demographics_data.loc[ (customer_demographics_data.no_of_children.isnull()) \
                                    & (customer_demographics_data.marital_status=='Married') \
                                    & (customer_demographics_data.family_size==2), "no_of_children"] = 0

In [152]:
# 13.9% of customers were with no_of_children > 0 and marital_status = 'Single'.
# Keeping the distribution intact during imputation.
customer_demographics_data.loc[(customer_demographics_data.marital_status.isnull()) \
                               & (customer_demographics_data.no_of_children > 0), "marital_status"] \
= ('Married' if (random.uniform(0, 100) >= 14) else 'Single')

In [153]:
# print(customer_demographics_data.loc[~(customer_demographics_data.marital_status.isna())\
#                               & (customer_demographics_data.no_of_children.isna())])

# It was found on observation that cases where 'no_of_children' was null but 'marital_status' was available all 
# were 'Single' with family_size = 2.
# Assuming that since they were 'Single', they didn't find it necessary to fill the data for 'no_of_children'.
# Hence, setting no_of_children for those records as 0.
customer_demographics_data.loc[~(customer_demographics_data.marital_status.isna())\
                              & (customer_demographics_data.no_of_children.isna()), "no_of_children" ] = 0

In [154]:
print(customer_demographics_data.isna().sum())

customer_id        0
age_range          0
marital_status    89
rented             0
family_size        0
no_of_children    89
income_bracket     0
dtype: int64

In [155]:
# For the remaining data, it is observed that 89 customers have missing data remaining and 
# both 'marital_status' and 'no_of_children' are missing for all of these.
# Also, it is observed that all such customers have family_size = 2, and rented = 0.
# marital_status 

# customer_demographics_data.loc[ (customer_demographics_data.marital_status.isna())\
#                               & (customer_demographics_data.no_of_children.isna()) ].family_size.unique()

In [156]:
# Here we find out that people with family_size = 2, for whom data is available, tend to be 'Married' 
# with following ratios, as per the age_range:
# age_range ratio
# 21.5     5.0
# 30.5    19.0
# 40.5    18.5
# 50.5    63.0
# 63.0     NaN
# 75.0     NaN



# plt.scatter(customer_demographics_data.family_size, customer_demographics_data.no_of_children,
#            alpha=0.01)

# cond = ( (customer_demographics_data.marital_status.isna())\
#         & (customer_demographics_data.no_of_children.isna()) )


# plt.hist(customer_demographics_data.loc[ cond, "age_range" ], density=False)
# plt.show()


# plt.hist(customer_demographics_data.loc[ ~cond \
#                                         & (customer_demographics_data.family_size == 2)\
#                                         & (customer_demographics_data.marital_status == 'Married'), "age_range" ],
#          density=False)



# plt.hist(customer_demographics_data.loc[ ~cond \
#                                         & (customer_demographics_data.family_size == 2)\
#                                         & (customer_demographics_data.marital_status == 'Single'), "age_range" ],
#          color = 'r',
#          density=False)
# plt.show()


# married_with_family_size_2_age_range = customer_demographics_data.loc[ ~cond \
#                                & (customer_demographics_data.family_size == 2) \
#                                & (customer_demographics_data.marital_status == 'Married'), "age_range"]

# single_with_family_size_2_age_range = customer_demographics_data.loc[ ~cond \
#                                & (customer_demographics_data.family_size == 2) \
#                                & (customer_demographics_data.marital_status == 'Single'), "age_range"]

# married_with_family_size_2_age_range.value_counts() / single_with_family_size_2_age_range.value_counts()

In [157]:
# Based on the above observation, we fill the remaining values for marital_status = 'Married' and no_of_children = 0 
# (given the family_size is 2: the customer and their partner).

customer_demographics_data.loc[ (customer_demographics_data.marital_status.isna())\
                              & (customer_demographics_data.no_of_children.isna()) , 
                               ["marital_status", "no_of_children"] ] = ['Married', 0]

In [158]:
customer_demographics_data.isna().sum()

customer_id       0
age_range         0
marital_status    0
rented            0
family_size       0
no_of_children    0
income_bracket    0
dtype: int64

In [162]:
!mkdir cleaned_data

campaign_data.to_csv("cleaned_data/campaign_data.csv", index=False)
coupon_item_mapping_data.to_csv("cleaned_data/coupon_item_mapping_data.csv", index=False)
customer_demographics_data.to_csv("cleaned_data/customer_demographics_data.csv", index=False)
customer_transaction_data.to_csv("cleaned_data/customer_transaction_data.csv", index=False)
item_data.to_csv("cleaned_data/item_data.csv", index=False)
train_data.to_csv("cleaned_data/train_data.csv", index=False)

mkdir: cleaned_data: File exists

In [216]:
!mkdir submissions

def save_submission(predictions):
    submission_df = pd.concat([test_data['id'], pd.Series(predictions, name="redemption_status")], axis=1)

    submission_file_name = "submissions/" + str(int(time.time())) + ".csv"

    submission_df.to_csv(submission_file_name, index=False)

mkdir: submissions: File exists

In [303]:
# Baseline model
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(solver='liblinear')
classifier.fit(train_data.drop(columns=['id', 'redemption_status']), train_data['redemption_status'])

predictions_test = classifier.predict(test_data.drop(columns=['id']))
predictions_train = classifier.predict(train_data.drop(columns=['id', 'redemption_status']))
predictions_train_probability = classifier.predict_proba(train_data.drop(columns=['id', 'redemption_status']))

save_submission(predictions_test)

In [305]:
print(confusion_matrix(train_data['redemption_status'], predictions_train))
print(roc_auc_score(train_data['redemption_status'], pd.DataFrame(predictions_train_probability)[1]))

[[77640     0]
 [  729     0]]
0.5746672942333827

In [306]:
pd.DataFrame(predictions_train_probability)

              0         1
0      0.992529  0.007471
1      0.992833  0.007167
2      0.989614  0.010386
3      0.989710  0.010290
4      0.985535  0.014465
...         ...       ...
78364  0.991113  0.008887
78365  0.993328  0.006672
78366  0.987895  0.012105
78367  0.992751  0.007249
78368  0.989894  0.010106

[78369 rows x 2 columns]